:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  min-width: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  background-color: #252525;
}
button:disabled:hover {
  border-color: transparent;
  cursor: default;
}

.button-red {
  background-color: #e08181;
}

.button-green {
  background-color: #91c977;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-container {
  width: 440px;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border-radius: 8px;
  background-color: #303030;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.event-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 900px;
  grid-template-columns: auto auto auto;
}

.create-event {
  padding: 20px;
  border-radius: 8px;
  background-color: #303030;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-event button {
  margin-top: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ec-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
